<!DOCTYPE html>
<html>
  <head>
    <title>bumblr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://kit.fontawesome.com/6559b35a1c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

  <script type='text/javascript'>
      window.defaultAvatar = "<%= image_url('default-avatar.jpg') %>"
  </script>
  <body>
    <%= yield %>
  </body>
</html>
